---
import { Image } from "astro:assets";
import Nav from "./Nav.astro";
import { Mail, Phone } from "@lucide/astro";

type AgentInfo = {
  name: string;
  photo: string;
  email: string;
  phone: string;
};

type Info = {
  title: string;
  description: string;
  image: string;
  url: string;
  cta: string;
  ctaWsp: string;
  agent: AgentInfo;
};

const info: Info = {
  title: "Viaja con confianza, explora con facilidad",
  description: "Agente de viajes",
  image: "/hero-big.jpg",
  url: "https://vivipalominos.com",
  cta: "Planifica tu viaje ahora",
  ctaWsp: "https://wa.me/56999974471",
  agent: {
    name: "Viviana Palominos",
    photo: "/agent.png",
    email: "vivi@vivipalominos.com",
    phone: "+569 9997 4471",
  },
};
---

<section class="min-w-[320px]">
  <Nav url={info.ctaWsp} />
  <header class="relative w-full mx-auto">
    <Image
      src="/hero-big.webp"
      alt="Hero"
      class="xl:h-[550px] h-[500px] md:h-[500px] w-full object-cover"
      width={1000}
      height={1000}
      loading={"eager"}
    />
    <!-- AGENT + TEXT -->
    <div
      class="absolute md:top-[200px] top-[350px] px-4 z-10 w-full max-w-6xl left-1/2 transform -translate-x-1/2"
    >
      <!-- AIRPLAIN -->
      <Image
        src="/airplain.png"
        class="absolute z-10 w-80 right-10 md:right-20 -top-66 md:-top-30"
        alt=""
        aria-hidden="true"
        width={1000}
        height={1000}
        loading={"eager"}
      />
      <div
        class="flex flex-col space-x-8 md:flex-row md:items-end -mt-20 md:mt-0 w-full"
      >
        <Image
          src="/agent.png"
          alt={info.agent.name}
          class="h-56 w-48 object-cover md:h-96 md:w-56 shadow-md rounded-lg self-center md:self-start"
          width={1000}
          height={1000}
          loading={"eager"}
        />
        <div class="flex flex-col w-full">
          <h1
            class="mt-4 text-4xl md:text-6xl font-extrabold md:max-w-[800px] lg:text-7xl text-pretty text-center md:text-left max-w-xl self-center md:self-start"
          >
            {info.title}
          </h1>
          <div
            class="mt-4 flex flex-col md:flex-row md:space-x-4 item-start md:items-end flex-wrap self-center md:self-start"
          >
            <span class="text-2xl text-center mb-4 lg:mb-0">{info.agent.name}</span>
            <div class="flex gap-2 flex-col sm:gap-4 sm:flex-row">
              <a
                href="mailto:{info.agent.email}"
                class="text-lg underline flex gap-2 hover:text-[var(--color-sky)] global-focus rounded-xs text-gray-500"
                ><Mail /> {info.agent.email}</a
              >
              <a
                href="tel:{info.agent.phone}"
                class="text-lg underline global-focus flex gap-2 hover:text-[var(--color-sky)] rounded-xs text-gray-500"
                ><Phone /> {info.agent.phone}</a
              >
            </div>
          </div>
          <a
            href="#contact-form"
            class="global-button w-full md:w-fit mt-4 global-focus max-w-xl self-center md:self-start"
            >{info.cta}</a
          >
        </div>
      </div>
    </div>
    <!-- SEPARATOR DESKTOP -->
    <div class="absolute right-0 z-0 top-56 hidden w-full md:block">
      <Image
        src="/separator.svg"
        class="w-full object-cover z-0"
        alt=""
        aria-hidden="true"
        width={1000}
        height={1000}
        loading={"eager"}
      />
    </div>
    <!-- SEPARATOR MOBILE -->
    <div class="w-full top-44 absolute md:hidden">
      <!-- This image is decorative and serves as a visual separator -->
      <Image
        src="/separator-sm.svg"
        class="w-full object-cover z-0"
        alt=""
        aria-hidden="true"
        width={1000}
        height={1000}
        loading={"eager"}
      />
    </div>
  </header>
</section>
